<!-- index.hbs -->
<h1>Categories</h1>
[ <a href="/">Homepage</a> | <a href="Customers">Customers</a> | <a href="Orders">Orders</a> | <a href="Products">Products</a> | <a href="Categories">Categories</a> | <a href="Products_in_Orders">Products in Order</a> ]
<br>
<table id= "categories-table" border="1" cellpadding="5">>

    {{!-- Header section --}}
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        {{#each data}}
        <tr data-value={{this.category_id}}>>
            <td>{{this.category_id}}</td>
            <td>{{this.category_name}}</td>
            <td>{{this.category_description}}</td>
            <td><button onclick="deleteCategory({{this.category_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<br>

<form id="add-category-form-ajax">
    <legend><strong>Add Category</strong></legend>  
    <fieldset>
        <label for="input-category_name">Category Name: </label>
        <input type="text" name="input-category_name" id="input-category_name">
        
        <label for="input-category_description">Category Description: </label>
        <input type="text" name="input-category_description" id="input-category_description">
    </fieldset>
</form>
<input type="submit" form="add-category-form-ajax" value="Add Category">
<div>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_category.js"></script>