<head>
    <title>Categories</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <style>
    body, html {
      height: 100%;
      font-family: "Inconsolata", sans-serif;
    }
    
    .menu {
      display: none;
    }
    </style>
    </head>
    
    <!-- index.hbs -->
    <h1>Categories</h1>
    <div class="w3-top">
      <div class="w3-row w3-padding w3-black">
        <div class="w3-col s3">
          <a href="/" class="w3-button w3-block w3-black">HOME</a>
        </div>
        <div class="w3-col s3">
          <a href="Customers" class="w3-button w3-block w3-black">Customers</a>
        </div>
        <div class="w3-col s3">
          <a href="Orders" class="w3-button w3-block w3-black">Orders</a>
        </div>
        <div class="w3-col s3">
            <a href="Products" class="w3-button w3-block w3-black">Products</a>
          </div>
    
          <div class="w3-col s3">
            <a href="Categories" class="w3-button w3-block w3-black">Categories</a>
          </div>
    
          <div class="w3-col s3">
            <a href="Products_in_Orders" class="w3-button w3-block w3-black">Products in Orders</a>
          </div>
      </div>
    </div>
    <br>
    
    <h1>Categories</h1>
    
    
    
    <table id= "categories-table" border="1" cellpadding="5">>
    
        {{!-- Header section --}}
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th></th>
            </tr>
        </thead>
    
        {{!-- Body section --}}
        <tbody>
            {{#each data}}
            <tr data-value={{this.category_id}}>>
                <td>{{this.category_id}}</td>
                <td>{{this.category_name}}</td>
                <td>{{this.category_description}}</td>
                <td><button onclick="deleteCategory({{this.category_id}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script src="./js/delete_category.js"></script>
    <br>
    
    <form id="add-category-form-ajax">
        <legend><strong>Add Category</strong></legend>  
        <fieldset>
            <label for="input-category_name">Category Name: </label>
            <input type="text" name="input-category_name" id="input-category_name">
            
            <label for="input-category_description">Category Description: </label>
            <input type="text" name="input-category_description" id="input-category_description">
        </fieldset>
    </form>
    <input type="submit" form="add-category-form-ajax" value="Add Category">
    <div>
    
    {{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
    <script src="./js/add_category.js"></script>
    
    <p></p>
    
    <form id="update-category-form-ajax">
        <legend><strong>Update Category</strong></legend>      
        <fieldset>
            <label for="input-category_name">Category Name: </label>
            <select name="input-category_name" id="mySelect">
                <option value="test">Select a Category</option>
                {{#each data}}
                <option value="{{this.category_id}}">{{this.category_name}}</option>
                {{/each}}
            </select>
    
            <label for="input-category_description">Category Description: </label>
            <input type="text" name="input-category_description" id="input-category_description-update">
    
        </fieldset>
    </form>
    <input type="submit" form="update-category-form-ajax" value="Update Category">
    <script src="./js/update_category.js"></script>
    
    <p></p>
    
    <form id="search-category-html" method='GET' action='/categories'>
        <legend><strong>Search Category</strong></legend> 
        <fieldset>
        <p>Search by category name using the field below. Partial category names are OK too!</p>
        
            <label for="input-category_name">Search by Category Name: </label>
            <input type="text" name="category_name" id="input-category_name-html-search">
            
            <input type="submit">
            <a href='/'><button>Reset</button></a>
        </fieldset>
    </form>