<head>
  <title>Orders</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
  <style>
  body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
  }
  
  .menu {
    display: none;
  }
  </style>
  </head>
  
  <!-- index.hbs -->
  <h1>Orders</h1>
  <div class="w3-top">
    <div class="w3-row w3-padding w3-black">
      <div class="w3-col s3">
        <a href="/" class="w3-button w3-block w3-black">HOME</a>
      </div>
      <div class="w3-col s3">
        <a href="Customers" class="w3-button w3-block w3-black">Customers</a>
      </div>
      <div class="w3-col s3">
        <a href="Orders" class="w3-button w3-block w3-black">Orders</a>
      </div>
      <div class="w3-col s3">
          <a href="Products" class="w3-button w3-block w3-black">Products</a>
        </div>
  
        <div class="w3-col s3">
          <a href="Categories" class="w3-button w3-block w3-black">Categories</a>
        </div>
  
        <div class="w3-col s3">
          <a href="Products_in_Orders" class="w3-button w3-block w3-black">Products in Orders</a>
        </div>
    </div>
  </div>
  <br>
  
  
  <body>
  <h1>Orders</h1>
  
  
  {{!-- Create a table --}}
  <table id= "orders-table" border="1" cellpadding="5">>
  
      {{!-- Header section --}}
      <thead>
  
          {{!-- For just the first row, we print each key of the row object as a header cell so we
          know what each column means when the page renders --}}
          <tr>
              {{#each data.[0]}}
              <th>
                  {{@key}}
              </th>
              {{/each}}
              <th></th>
          </tr>
      </thead>
  
      {{!-- Body section --}}
      <tbody>
  
          {{!-- For each row, print the oid, cid, date, and total, in order --}}
          {{#each data}}
          <tr data-value={{this.order_id}}>>
              <td>{{this.order_id}}</td>
              <td>{{this.customer_id}}</td>
              <td>{{this.first_name}}</td>
              <td>{{this.last_name}}</td>
              <td>{{this.order_date}}</td>
              <td>{{this.total}}</td>
              <td><button onclick="deleteOrder({{this.order_id}})">Delete</button></td>
          </tr>
          {{/each}}
      </tbody>
  </table>
  <script src="./js/delete_order.js"></script>
  <!-- browse -->
  
  <p></p>
  
  {{!-- Form to add a record to the table  --}}
  <form id="add-order-form-ajax">
      <legend><strong>Add Order</strong></legend>  
      <fieldset>
          <label for="input-customer_id">Customer Last Name: </label>
          <select name="customer_id" id="input-customer_id">
              <option value="test">Select a Last Name</option>
              {{#each customers}}
              <option value="{{this.customer_id}}">{{this.first_name}} {{this.last_name}}</option>
              {{/each}}
          </select>
          {{!-- <input type="number" name="input-customer_id" min=1 id="input-customer_id"> --}}
          
          <label for="input-order_date">Order Date: </label>
          <input type="date" name="input-order_date" id="input-order_date">
  
          <label for="input-total">Total: </label>
          <input type="number" step="0.01" name="input-total" id="input-total">
  
      </fieldset>
  </form>
  <input type="submit" form="add-order-form-ajax" value="Add Order">
  <div>
  
  {{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
  <script src="./js/add_order.js"></script>
  
  <p></p>
  
  <form id="update-order-form-ajax">
      <legend><strong>Update Order</strong></legend>      
      <fieldset>
          <label for="input-order_id">Order ID: </label>
          <select name="input-order_id" id="mySelect">
              <option value="test">Select an ID</option>
              {{#each data}}
              <option value="{{this.order_id}}">{{this.order_id}}, {{this.first_name}} {{this.last_name}} </option>
              {{/each}}
          </select>
          
          <br>

          {{!-- <input type="number" min=1 name="input-customer_id" id="input-customer_id-update"> --}}
  
          <label for="input-order_date">Order Date: </label>
          <input type="date" name="input-order_date" id="input-order_date-update">
  
          <label for="input-total">Total: </label>
          <input type="number" step="0.01" name="input-total" id="input-total-update">
  
  
      </fieldset>
  </form>
  <input type="submit" form="update-order-form-ajax" value="Update Order">
  
  <script src="./js/update_order.js"></script>
  <!-- update -->
  
  <p></p>
  
  <form id="search-order-html" method='GET' action='/orders'>
  <legend><strong>Search Customer</strong></legend> 
  <fieldset>
  <p>Search by Last Name using the field below.</p>
  
      <label for="customer_id">Select Customer Last Name: </label>
      <select name="customer_id" id="input-customer_id-html-search">
              <option value="test">Select a Last Name</option>
              {{#each customers}}
              <option value="{{this.customer_id}}">{{this.last_name}}</option>
              {{/each}}
          </select>
      
      {{!-- <input type="number" min=1 name="customer_id" id="input-customer_id-html-search"> --}}
      
      {{!-- <input type="submit"> --}}
      {{!-- <a href='/Orders'><button>Reset</button></a> --}}
  </fieldset>
  <input type="submit">
  </form>
  <a href='/Orders'><button>Reset</button></a>
  
  </body>
  </html>