<head>
    <title>Products</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <style>
    body, html {
      height: 100%;
      font-family: "Inconsolata", sans-serif;
    }
    
    .menu {
      display: none;
    }
    </style>
    </head>
    
    <!-- index.hbs -->
    <h1>Products</h1>
    <div class="w3-top">
      <div class="w3-row w3-padding w3-black">
        <div class="w3-col s3">
          <a href="/" class="w3-button w3-block w3-black">HOME</a>
        </div>
        <div class="w3-col s3">
          <a href="Customers" class="w3-button w3-block w3-black">Customers</a>
        </div>
        <div class="w3-col s3">
          <a href="Orders" class="w3-button w3-block w3-black">Orders</a>
        </div>
        <div class="w3-col s3">
            <a href="Products" class="w3-button w3-block w3-black">Products</a>
          </div>
    
          <div class="w3-col s3">
            <a href="Categories" class="w3-button w3-block w3-black">Categories</a>
          </div>
    
          <div class="w3-col s3">
            <a href="Products_in_Orders" class="w3-button w3-block w3-black">Products in Orders</a>
          </div>
      </div>
    </div>
    <br>
    
    
    <body>
    
      
      
        <h1>Products</h1>
    
        <table id= "products-table" border="1" cellpadding="5">>
    
        {{!-- Header section --}}
        <thead>
    
            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th></th>
            </tr>
        </thead>
    
        {{!-- Body section --}}
        <tbody>
    
            {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
            {{#each data}}
            <tr data-value={{this.product_id}}>>
                <td>{{this.product_id}}</td>
                <td>{{this.product_name}}</td>
                <td>{{this.quantity_in_stock}}</td>
                <td>{{this.category_id}}</td>
                <td>{{this.price}}</td>
                <td>{{this.product_description}}</td>
                <td><button onclick="deleteProduct({{this.product_id}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script src="./js/delete_product.js"></script>
    <!-- browse -->
    
    
    
        <br>
        <form id="add-product-form-ajax">
            <legend><strong>Add Product</strong></legend>  
            <fieldset>
                <label for="input-product_name">Product Name: </label>
                <input type="text" name="input-product_name" id="input-product_name">
                
                <label for="input-quantity_in_stock">Quantity In Stock: </label>
                <input type="number" name="input-quantity_in_stock" id="input-quantity_in_stock">
                
                <br>

                <label for="input-category_id">Category Name: </label>
                {{!-- <input type="text" name="input-category_id" id="input-category_id"> --}}
                <select name="input-category_name" id="input-category_id">
                    <option value="test">Select a Category</option>
                    {{#each categories}}
                    <option value="{{this.category_id}}">{{this.category_name}}</option>
                    {{/each}}
                </select>

                <label for="input-price">Price: </label>
                <input type="number" step="0.01" name="input-price" id="input-price">

                <br>

                <label for="input-product_description">Description: </label>
                <input type="text" name="input-product_description" id="input-product_description">
            </fieldset>
        </form>
        <input type="submit" form="add-product-form-ajax" value="Add Product">
        <div>
        
        {{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
        <script src="./js/add_product.js"></script>
        
        <p></p>

        <form id="update-product-form-ajax">
            <legend><strong>Update Product</strong></legend>      
            <fieldset>
                <label for="input-product_name">Product Name: </label>
                <select name="input-product_name" id="mySelect">
                    <option value="test">Select a Product</option>
                    {{#each data}}
                    <option value="{{this.product_id}}">{{this.product_name}}</option>
                    {{/each}}
                </select>
        
                <label for="input-quantity_in_stock">Quantity In Stock: </label>
                <input type="text" name="input-quantity_in_stock" id="input-quantity_in_stock-update">

                <label for="input-category_id">Category Name: </label>
                {{!-- <input type="text" name="input-category_id" id="input-category_id-update"> --}}
                <select name="input-category_id" id="input-category_id-update">
                    <option value="test">Select a Category</option>
                    {{#each categories}}
                    <option value="{{this.category_id}}">{{this.category_name}}</option>
                    {{/each}}
                </select>

                <label for="input-price">Price: </label>
                <input type="text" name="input-price" id="input-price-update">

                <label for="input-product_description">Product Description: </label>
                <input type="text" name="input-product_description" id="input-product_description-update">
        
            </fieldset>
        </form>
        <input type="submit" form="update-product-form-ajax" value="Update Product">
        <script src="./js/update_product.js"></script>

        <p></p>

        <form id="search-product-html" method='GET' action='/products'>
          <legend><strong>Search Product</strong></legend> 
          <fieldset>
          <p>Search by product name using the field below. Partial product names are OK too!</p>
          
              <label for="input-product_name">Product Name: </label>
              <input type="text" name="product_name" id="input-product_name-html-search">
              
          </fieldset>
          </form>
          <input type="submit" form="search-product-html" value="Search">
          <a href='/Products'><button>Reset</button></a>
    
      </body>
    </html>